.content-page,
h3,
h4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.margin-0 {
  margin: 0 !important;
}
.fs-24 {
  font-size: 24px;
}
.fs-14 {
  font-size: 14px;
}
.fs-18 {
  font-size: 14px;
}
.fs-50 {
  font-size: 50px;
}
.spinner-custom {
  width: 1em;
  height: 1em;
}

.cursor-not-allowed {
  cursor: not-allowed !important;
}
.cursor-pointer {
  cursor: pointer !important;
}
.z-Index {
  z-index: 1000;
}
.jc-space-between {
  justify-content: space-between;
}
.align-item-center {
  align-items: center;
}
.f-basic-50 {
  flex-basis: 50%;
}

/*Text color*/
.txt-bold {
  font-weight: bold;
}
.txt-down {
  color: #ff0017;
}
.txt-none {
  color: #ffffff;
}
.txt-up {
  color: #0bdf39;
}
.txt-ceil {
  color: #fd02fd;
}
.txt-floor {
  color: #52d3f9;
}
.txt-ref {
  color: #fdff12;
}
.bg-up {
  background-color: #0bdf39;
  color: #fff;
}
.bg-down {
  background-color: #ff0017;
  color: #fff;
}
.bg-ref {
  background-color: #fdff12;
  color: #fff;
}

/* ---
------Room Page 
*/
.room-box {
  height: 270px;
}

.room-box .status-bar {
  display: flex;
  justify-content: space-between;
}
.room-box h3 {
  font-weight: 600;
}
.room-box ul {
  list-style: none;
  padding: 0;
}
.room-box ul li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
.room-box ul li span {
  font-weight: 500;
}
.room-info-container {
  display: flex;
  height: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.room-box .drop-down-tool {
  cursor: pointer;
}
.room-tool-container {
  display: flex;
  justify-content: space-between;
}

/*--
---- Modal Room Fee
 */
.modal-room-fee {
  height: auto !important;
}
.modal-room-fee .service-detail ul {
  flex-basis: 60%;
}
.modal-room-fee ul li {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-room-fee .badge {
  position: absolute;
  right: 0;
  top: 30px;
}

/*--
---- Modal Shifts
 */
.shift-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.shift-item:last-child {
  border: none;
}

/*--
---- Expanded Component
*/
.expanded-container {
  padding: 0 16px 16px;
  width: 100%;
  display: block;
}
.expanded-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.expanded-tool {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.expanded-header span {
  display: flex;
  align-items: center;
  margin: 0 10px;
  padding: 5px;
}
.expanded-header span:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.expanded-title {
  font-weight: 600;
  font-size: 20px;
  word-break: break-all;
}

/*--
---- Income status
*/
.income-container {
  display: flex;
  justify-content: space-between;
}
.income-status {
  display: flex;
  flex-direction: column;
}

.date-picker-custom {
  margin-left: 10px;
  border-radius: 10px;
}